<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>APIBaseURL</key>
	<string>$(API_BASE_URL)</string>
	<key>WebBaseURL</key>
	<string>$(WEB_BASE_URL)</string>
	<key>SupabaseURL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SupabaseAnonKey</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>tomaddison.TransferSyncCompanion</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>transfersync</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
